*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.vertical-menu{
    width: 15vw;
    border: 1px solid;
    height: 500px;
}

header {
    width: 85%;
    height: 95%;
    border: 1px solid #fff;

}

header .menu_side, .song_side {
    position: relative;
    width: 25%;
    height: 90%;
    border: 1px solid #fff;
}

header .song_side{
    width: 75%;
}