body {
    margin: 0;
    border: 1px solid black;
    height: 90vh;
    padding-top: 50px;
}
.header .horizontal-bar{
    border: 1px solid black;
    height: 50px;
}
.vertical-menu{
    width: 15vw;
    border: 1px solid;
    height: 500px;
}
.landing-page{
    width: 60vw;
    border: 1px solid;
    height: 500px;
}
.additional-slides{
    width: 25vw;
    border: 1px solid;
    height: 500px;
}
.section1{
    display: flex;
}